include *.txt
include *.md
include *.py

recursive-include ./predictor_model/*
include ./predictor_model/datasets/*.csv
include ./predictor_model/trained_models/*.pt 
include ./test/*
recursive-exclude * __pycache__
recursive-exclude * *.py[co]